<h1>New User Registration</h1>

<form class="contact_new">
		
	<div class="contextual_help">
		<h3>What to expect?</h3>
	</div>
		
	<div>
		<input type="text" start="first name" class="user_firstname contactdetail"/>
		<input type="text" start="last name" class="user_lasttname contactdetail"/>
		<input type="text" start="email address" class="user_email contactdetail long"/>
		
		<span class="ititle">password</span>
		<input type="password" class="user_password contactdetail password"/>
		
		<span class="ititle">verify password</span>
		<input type="password" class="user_passwordverify contactdetail password"/>
	</div>
		
	<div class="buttons">
		<button type="submit" class="button apply">save</button>
		<button type="submit" class="button cancel">cancel</button>
	</div>
		
</form>