<h1>Account Billing</h1>

<div class="panel">
	<div class="control_panel_nav">
		<a href="template/setup.htm" class="popup cp_getstarted">Get Started</a>
		<a href="template/subscriptions_post.htm" id="/api/1/subscriptions" class="popup cp_subscriptions">Subscriptions</a>
		<a href="template/connections_post.htm" id="/api/1/connections" class="popup cp_sources">Connections</a>
		<a href="template/users_post.htm" id="/api/1/users" class="popup cp_users">Users</a>
		<a href="template/account_billing.htm" class="selected popup cp_billing">Billing</a>
		<a href="template/announcements.htm" class="popup cp_announcements">Announcements</a>
	</div>
</div>

<div class="panel_main">
	<h3>Manage Billing</h3>
	<p class="help">Help instructions....what is billing, where do I put my credit card??</p>

</div>