<h1>Account Connections</h1>

<div class="panel">
	<div class="control_panel_nav">
		<a href="template/setup.htm" class="popup cp_getstarted">Get Started</a>
		<a href="template/subscriptions_post.htm" id="/api/1/subscriptions" class="popup cp_subscriptions">Subscriptions</a>
		<a href="template/connections_post.htm" id="/api/1/connections" class="selected popup cp_sources">Connections</a>
		<a href="template/users_post.htm" id="/api/1/users" class="popup cp_users">Users</a>
		<a href="template/account_billing.htm" class="popup cp_billing">Billing</a>
		<a href="template/announcements.htm" class="popup cp_announcements">Announcements</a>
	</div>
</div>
<div class="panel_main">
	<h3>Create a New Email Connection</h3>
	<p class="help">Manage all of your support email address in one application.  Add your "generic" email addresses <span class="parens">(support@, info@, help@)</span> to ensure full support coverage.  All <a href="template/users_post.htm" id="/api/1/users" class="popup cp_users">users</a> will be able read and send emails with the email address you connect. </p>

	<form action="/api/1/connections" class="connection_details_email">
			<input type="text" class="connection_host required"/>
			<input type="text" class="connection_port"/>
						
			<span class="ftitle">*host <span class="parens">(imap.gmail.com)</span></span>
			<span class="ftitle">port <span class="parens">(993)</span></span>
			
			<div class="block">			
				<select class="connection_ssl">
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
				
				<select class="connection_authmethod">
					<option value="">None</option>
					<option value="login">login</option>
					<option value="crammd5">crammd5</option>
				</select>
			</div>
			
			
			<span class="ftitle">SSL </span>
			<span class="ftitle">Authenticaion Method</span>
			
			<input type="text" class="connection_username required"/>
			<input type="password" class="connection_password required"/>
			
			<span class="ftitle">*username <span class="parens">(Usivity Support)</span></span>
			<span class="ftitle">*password</span>
			
			
			<input type="text" class="connection_email_username long required"/>
			<span class="ftitle long">*email address <span class="parens">(support@usivity.com)</span></span>
			
			<div class="buttons">
				<button type="submit" class="add">add email connection</button>
			</div>
	</form>
</div>