<h1>Account Connections</h1>

<div class="panel">
	<div class="control_panel_nav">
		<a href="template/setup.htm" class="popup cp_getstarted">Get Started</a>
		<a href="template/subscriptions_post.htm" id="/api/1/subscriptions" class="popup cp_subscriptions">Subscriptions</a>
		<a href="template/connections_post.htm" id="/api/1/connections" class="selected popup cp_sources">Connections</a>
		<a href="template/users_post.htm" id="/api/1/users" class="popup cp_users">Users</a>
		<a href="template/account_billing.htm" class="popup cp_billing">Billing</a>
		<a href="template/announcements.htm" class="popup cp_announcements">Announcements</a>
	</div>
</div>

<div class="panel_main">

	<h3>Add New Connection</h3>

	<p class="help">Connections are used to attach your social networks to your Usivity account.  Connected accounts are accessible by all <a href="template/users_post.htm" id="/api/1/users" class="popup cp_users">users</a>.</p>
	<div class="connections">
	
		<div class="connections_new">
			<a href="#" class="connection_twitter" target="_blank" id="twitter">Twitter</a>
			<!--<a href="#" class="connection_facebook" id="facebook">Facebook</a>
			<a href="#" class="connection_linkedin" id="linkedin">Linkedin</a>-->
			<a href="template/connections_email_post.htm" class="popup connection_email" name="linkedin">Email</a>
		</div>
		
		<h3>Manage Existing Connections</h3>
		<table>
			<thead>
				<tr>
					<th>Source</th>
					<th>Identity</th>
					<th style="width:20%;" class="center">Delete</th>
				</tr>
			</thead>
			<tbody>
{foreach
	{in:connections_connection}
				<tr>
					<td>
						{source}
					</td>
					<td>
						{identity_name}
					</td>
					<td class="center">
						<a href="{@href}" class="delete">delete</a>
					</td>
				</tr>
foreach}
			</tbody>
		</table>
	</div>
</div>