{in:contact}
<h1>New Contact</h1>
<form class="contact_new">
		<div class="contact highlight">
			<span class="contact_picture">
				
			</span>
			<div class="contact_contents">
				<div class="contact_numbers">
					<input type="text" start="value" class="contact_value short"/>
					
					<select class="contact_liklihood short">
						<option value="0">0%</option>
						<option value="20">20%</option>
						<option value="40">40%</option>
						<option value="60">60%</option>
						<option value="80">80%</option>
						<option value="100">100%</option>
					</select>
				</div>
				<div class="contact_name">
					<input type="text" start="first name" class="contact_firstname" value="{firstname}"/>
					<input type="text" start="last name" class="contact_lastname" value="{lastname}"/>
				</div>
					<input type="text" start="email address*" class="contact_email long"/>
			</div>
		</div>
		
		<h3>Demographics</h3>
		<input type="text" start="age" class="contact_age contactdetail short"/>
		<input type="text" start="gender" class="contact_gender contactdetail short"/>
		<div class="break">
			<input type="text" start="general location" class="contact_locationgeneral contactdetail long"/>
		</div>
		
		<h3>Contact Details</h3>
		<input type="text" start="phone number" class="contact_phonenumber contactdetail"/>
		<input type="text" start="fax number" class="contact_faxnumber contactdetail"/>
		<input type="text" start="address" class="contact_address contactdetail long"/>
		<div class="break">
			<input type="text" start="city" class="contact_city contactdetail"/>
			<input type="text" start="state" class="contact_state contactdetail"/>
			<input type="text" start="zip" class="contact_zip contactdetail short"/>
		</div>
		
		<h3>Company Details</h3>
		<input type="text" start="company name" class="company_name contactdetail"/>
		<input type="text" start="fax number" class="company_faxnumber contactdetail"/>
		<input type="text" start="address" class="company_address contactdetail long"/>
		<div class="break">
			<input type="text" start="city" class="company_city contactdetail"/>
			<input type="text" start="state" class="company_state contactdetail"/>
			<input type="text" start="zip" class="company_zip contactdetail short"/>
		</div>
		<input type="text" start="industry" class="company_zip contactdetail short"/>
		<input type="text" start="revenue" class="company_zip contactdetail short"/>
		<input type="text" start="competitors" class="company_zip contactdetail"/>
		
		
		<h3>Social Networks</h3>
		<input type="text" start="linkedin" class="contact_linkedin contactdetail"/>
		<input type="text" start="facebook" class="contact_facebook contactdetail"/>
		<input type="text" start="twitter" class="contact_twitter contactdetail"/>
		<input type="text" start="google" class="contact_google contactdetail"/>
	
		
		<h3>Activity</h3>
		Putt message activity here
		
		<div class="buttons">
			<button type="submit" class="button apply">save</button>
			<button type="submit" class="button cancel">cancel</button>
		</div>
</form>