
{foreach
{in:contacts_contact}
<tr id="{@id}" class="contact highlight">
	<td class="contact_picture">
		<span>
			<a href="/template/contact_put.htm" id="{@href}" class="popup contact_edit"><img src="{uri.avatar_#text}" /></a>
		</span>
	</td>
	<td class="contact_edit">
		<select class="contact_group">
			<option value=""></option>
			<option value="advocate">advocate</option>
			<option value="analyst">analyst</option>
			<option value="customer">customer</option>
			<option value="community">community</option>
			<option value="prospect">prospect</option>
		</select>
		<a href="/template/contact_put.htm" id="{@href}" class="popup contact_edit">{firstname} {lastname}</a>
		<span class="parens">
			{email}
		</span>
	</td>
</tr>
foreach}
