<div class="contact">
	<span class="contact_picture">
		{1}
	</span>
	<div class="contact_contents">
		<span class="contact_name">
			DamienH
		</span>
	</div>
</div>
<form>	
	<span class="stitle">Contact Information</span>
	<div class="section">
		<span class="ititle">first name</span>
		<input type="text" name="contact_firstname" value="{2}">
		
		<span class="ititle">last name</span>
		<input type="text" name="contact_lastname"  value="{3}">
	
		<span class="ititle">email address</span>
		<input type="text" name="contact_email">
		
		<span class="ititle">phone number</span>
		<input type="text" name="contact_phone">
	</div>
	
	<span class="stitle">
		<a href="" class="opportunity popup stool">Add Opportunity</a>
		Opportunities
	</span>
	<div class="section">
		<table class="">
			<tr>
				<th>Name</th>
				<th>Close</th>
				<th>Status</th>
				<th>Probability</th>
			</tr>
			<tr>
				<td><a href="">Joe Schmoe</a></td>
				<td>09/10/11</td>
				<td>{four}</td>
				<td>100%</td>
			</tr>
		</table>
	</div>
	
	<span class="stitle">Company Information</span>
	<div class="section">
		<span class="ititle">company name</span>
		<input type="text" name="company_name">
		
		<span class="ititle">company phone</span>
		<input type="text" name="company_phone">
	</div>
	
	<span class="stitle">Social Networking</span>
	<div class="section">
		<span class="ititle">linkedin</span>
		<input type="text" name="contact_linkedin">
		
		<span class="ititle">twitter</span>
		<input type="text" name="contact_twitter">
		
		<span class="ititle">facebook</span>
		<input type="text" name="contact_facebook">
	</div>
	
	<span class="stitle">Messages</span>
	<div class="section">
		<div class="message">
			<span class="contact_picture minimize">
				pic
			</span>
			<div class="message_contents">
				<span class="contact_name">
					DamienH
				</span>
				<div class="message_text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam consectetur molestie. Etiam sed odio in est tristique aliquam. Sed tristique, justo et volutpat adipiscing, ligula est faucibus ipsum, ac dignissim ligula tellus eget nisi. Sed ut bibendum urna. Aenean vitae lectus sapien. 
				</div>
			</div>
		</div>
		<div class="message">
			<span class="contact_picture minimize">
				pic
			</span>
			<div class="message_contents">
				<span class="contact_name">
					DamienH
				</span>
				<div class="message_text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam consectetur molestie. Etiam sed odio in est tristique aliquam. Sed tristique, justo et volutpat adipiscing, ligula est faucibus ipsum, ac dignissim ligula tellus eget nisi. Sed ut bibendum urna. Aenean vitae lectus sapien. 
				</div>
			</div>
		</div>
	</div>
	
	<div class="buttons">
		<button type="submit" class="button save">save</button>
	</div>
	
	
</form>
