<h1>Open Stream Filters</h1>
<form class="filter_manage">
		<div class="highlight">
			<select class="filter_type">
				<option value="user">filter out person</option>
				<option value="user">filter out word</option>
				<option value="user">filter out format</option>
			</select>
			<input type="text" start="filter value" class="filter_value"/>
			<div class="buttons">
				<button type="submit" class="button apply">save</button>
			</div>
		</div>
		
		<h3>Active Filters</h3>
		<div class="break">
			
		</div>
		
</form>