<h1>Existing User Login</h1>

<div class="panel">
	<!--<p>Usivity is a support agent portal for social and traditional mediums of support.  </p>-->
	<p><img src="/img/logo_medium.gif" class="img-center">Usivity organizes targeted content from social networks and multiple email accounts in a collaborative support agent portal.</p>
	<p><a href="" class="watch_video">watch the demo video</a></p>
</div>
<div class="panel_main">
	<h3>User Credentials</h3>
	<form class="login">	
		<span class="ititle">username</span>
		<input type="text" name="email" class="user" />
		
		<span class="ititle">password</span>
		<input type="password" name="password" class="password">
		
		<div class="buttons">
			<button type="submit" class="button">login</button>
			<button type="submit" class="button">register</button>
		</div>
	</form>
</div>