{foreach
{in:messages_message}
<div id="{@id}" class="message highlight">
	<span class="contact_picture">
		<img src="{author_uri.avatar}">
	</span>
	<div class="message_contents">
		<span class="contact_name">
			<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
		</span>
		<div class="message_text">
			{body}
		</div>
		<span class="message_meta">
			<span class="message_time">
				{created.source}
			</span>
			<span class="message_source">
				{source}
			</span>
		</span>
		<div class="message_actions">
			<a href="/template/message_post.htm" id="{@href}" class="popup claim">send message</a>
			<a href="/template/message_delete.htm" id="{@href}" class="message_view_thread">view thread</a>
			<a href="/template/message_delete.htm" id="{@href}" class="dialog delete">delete</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
foreach}

