{foreach
{in:messages_message}
<tr id="{@id}" class="message message_new message_source_{source} 
{if:contact.author}
message_contact
{if}
">
	<td class="author_picture">
		<span>
{if:contact.author}
			<a href="/template/message_post.htm" id="{@href}" class="popup message_reply"><img src="{contact.author_uri.avatar_#text}"></a>
{if}
{if:!contact.author}
			<a href="/template/message_post.htm" id="{@href}" class="popup message_reply"><img src="{author_uri.avatar}"></a>
{!if}
		</span>
		
	</td>
	<td class="author_name">
{if:source=email}
		<span class="profile">{author_name}</span>
{if}
{if:source=twitter}
		<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
{if}
{if:contact.author}
		<span class="profile">{contact.author_firstname} {contact.author_lastname}</span>
{if}
	</td>
	<td class="message_text">
		<!--<span class="subscription-tag">#subscription</span>-->
{if:subject}
		<span class="subject">{subject}</span>
{if}
{if:!subject}
		<span class="body">{body}</span>
{!if}		
	</td>
	<td class="message_time" value="{created.source}">
		{created.source}
	</td>
	<td class="message_source">
		<span title="{source}" class="source_badge source_{source}">{source}</span>
	</td>
{if:!contact.author}
	<td class="message_reply">
		<a href="/template/message_post.htm" id="{@href}" class="popup message_reply">reply</a>
	</td>
{!if}
{if:contact.author}
	<td class="contact_edit">
		<a href="/template/contact_put.htm" id="{contact.author_@href}" class="popup message_reply">contact</a>
	</td>
{if}
	<td class="message_delete">
		<a href="/template/message_delete.htm" id="{@href}" class="dialog message_delete">delete</a>
	</td>
</tr>
foreach}
