{foreach
	{in:message}
<div class="message_thread message_thread_children thread_depth{@depth}">
	<span class="contact_picture contact_picture_large"> 
		<img src="{author_uri.avatar}" />
	</span>
	<div class="message_details">
		<span class="contact_name">
			<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
		</span>
		<div class="message_text">
			{body}
		</div>
		<span class="message_meta">
			<span class="message_time">
				{timestamp.source}
			</span>
			<span class="message_source">
				{source}
			</span>
		</span>
	</div>
	<form class="message_send_inline" id="{@id}" action="{@href}">
		<div class="twrap">
			<textarea name="message" class="message_data" start="enter your message"></textarea>
		</div>
		<div class="buttons">
			<button type="submit" class="button apply">send</button>
		</div>
	</form>
</div>
foreach}