{foreach
	{in:messages_message}
	<div id="{@id}" class="message">
		<span class="contact_picture minimize">
			<img src="{author_uri.avatar}">
		</span>
		<div class="message_contents">
			<span class="contact_name">
				<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
			</span>
			<div class="message_text">
				{body}
			</div>
			<span class="message_meta">
				<span class="message_time">
					{timestamp}
				</span>
				<span class="message_source">
					{source}
				</span>
			</span>
			<div class="message_actions">
				<a href="/template/message_post.htm" id="/usivity/messages/{@id}" class="popup claim">claim</a><!-- Replace id with HREF attribute from API -->
				<a href="/template/message_assign.htm" id="/usivity/messages/{@id}" class="dialog assign">assign</a><!-- Replace id with HREF attribute from API -->
				<a href="/template/message_delete.htm" id="/usivity/messages/{@id}" class="dialog delete">delete</a><!-- Replace id with HREF attribute from API -->
			</div>
		</div>
	</div>
foreach}
