{foreach
	{in:message}
<div class="message_thread">
	<span class="contact_picture contact_picture_large"> 
		<img src="{author_uri.avatar}" />
	</span>
	<div class="message_details">
		<span class="message_meta">
{if:user.author}
			<span class="usivity-user">posted by {user.author_name}</span>
{if}
			<span class="message_time timeago" title="{created.source}">
				
			</span>
			<span class="message_source">
				{source}
			</span>
		</span>
		<span class="contact_name">
			<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
		</span>
		<div class="message_text">{body}</div>
	</div>
</div>
foreach}