{foreach
{in:messages_message}
<tr id="{@id}" class="message message_new message_source_{source}">
	<!--
	<td class="contact_klout">
		<span class="source_klout">34</span>
	</td>
	-->
	<td class="contact_picture">
		<span>
			<a href="/template/message_post.htm" id="{@href}" class="popup message_reply"><img src="{author_uri.avatar}"></a>
		</span>
	</td>
	<td class="contact_name">
		<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
	</td>
	<td class="message_text">
		<!--<span class="subscription-tag">#subscription</span>-->
		{body}
	</td>
	<td class="message_time" value="{timestamp}">
		{timestamp}
	</td>
	<td class="message_source">
		<span title="{source}" class="source_badge source_{source}">{source}</span>
	</td>
{if:!contact}
	<td class="message_reply">
		<a href="/template/message_post.htm" id="{@href}" class="popup message_reply">reply</a>
	</td>
{!if}
{if:contact}
	<td class="contact_edit">
		<a href="/template/contact_put.htm" id="{contact_@href}" class="popup message_reply">contact</a>
	</td>
{if}
	<td class="message_delete">
		<a href="/template/message_delete.htm" id="{@href}" class="dialog message_delete">delete</a>
	</td>
</tr>
foreach}
