{foreach
{in:messages_message}
<tr id="{@id}" class="message message_new">
	<td class="contact_klout">
		<span class="source_klout">34</span>
	</td>
	<td class="message_sentiment">
		<span class="sentiment_badge sentiment_positive">positive</span>
	</td>
	<td class="contact_picture minimize">
		<img src="{author_uri.avatar}">
	</td>
	<td class="contact_name">
		<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
	</td>
	<td class="message_text">
		{body}
	</td>
	<td class="message_time">
		{timestamp}
	</td>
	<td class="message_source">
		<span title="{source}" class="source_badge source_{source}">{source}</span>
	</td>
	<td class="message_reply">
		<a href="/template/contact_post.htm" id="{@href}" class="popup message_reply">reply</a>
	</td>
	<td class="message_delete">
		<a href="/template/message_delete.htm" id="{@href}" class="dialog message_delete">delete</a>
	</td>
</tr>
foreach}
