{in:message}
<h1>Send Message</h1>
<table class="message highlight">
	<tr>
		<td class="contact_picture contact_picture_large">
			<img src="{author_uri.avatar}">
		</td>
		<td class="message_contents">
			<span class="contact_name">
				<a target="_new" class="profile" href="http://twitter.com/{author_name}">{author_name}</a>
			</span>
			<div class="message_text">
				{body}
			</div>
			<span class="message_meta">
				<span class="message_time">
					{timestamp}
				</span>
				<span class="message_source">
					{source}
				</span>
			</span>
		</td>
	</tr>
</table>


<form class="message_send" >	
	<textarea name="message" class="message_data" start="enter your message"></textarea>
	<div class="buttons">
		<button type="submit" class="button apply">send</button>
		<button type="submit" class="button cancel">cancel</button>
	</div>
</form>
