<span class="contact_picture minimize">
	pic
</span>
<div class="message_contents">
	<span class="contact_name">
		DamienH
	</span>
	<div class="message_text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam consectetur molestie. Etiam sed odio in est tristique aliquam. Sed tristique, justo et volutpat adipiscing, ligula est faucibus ipsum, ac dignissim ligula tellus eget nisi. Sed ut bibendum urna. Aenean vitae lectus sapien. 
	</div>
	<span class="message_time">
		posted 49 minutes ago
	</span>
	<div class="message_actions">
		<a href="" class="respond">respond</a>
		<a href="" class="delete">delete</a>
		<a href="" class="tag popup">tag</a>
	</div>
</div>