<h1>Setup Usivity</h1>

<div class="panel">
	<div class="control_panel_nav">
		<a href="template/setup.htm" class="selected popup cp_getstarted">Get Started</a>
		<a href="template/subscriptions_post.htm" id="/api/1/subscriptions" class="popup cp_subscriptions">Subscriptions</a>
		<a href="template/connections_post.htm" id="/api/1/connections" class="popup cp_sources">Connections</a>
		<a href="template/users_post.htm" id="/api/1/users" class=" popup cp_users">Users</a>
		<a href="template/account_billing.htm" class="popup cp_billing">Billing</a>
		<a href="template/announcements.htm" class="popup cp_announcements">Announcements</a>
	</div>
</div>

<div class="panel_main">
	<h3>Welcome to Usivity</h3>
	<p class="help">Usivity is your one stop source for managing the customer support demands of a growing organization. </p>
	<p class="help">It is important that you properly configure Usivity.  Please use the following 3 simple steps to get started.  Thanks <a href="http://twitter.com/usivity" target="_blank">@usivity</a></p>
	
	<table class="setup">
		<tr>
			<td>
				<h3>Add Connections</h3>
				<img src="/img/icon_connections.png" class="img-left"/>
				<p class="help">Connections are used to connect your social networks and email accounts to your Usivity account.</p>
				<a href="template/connections_post.htm" id="/api/1/connections" class="button popup cp_sources">Add Connections</a>
			</td>
			<td>
				<h3>Add Subscriptions</h3>
				<img src="/img/icon_subscriptions.png" class="img-left"/>
				<p class="help">Subscriptions are targeted keywords that Usivity uses to retrieve relevant content from the social web.  </p>
				<a href="template/subscriptions_post.htm" id="/api/1/subscriptions" class="button popup cp_subscriptions">Add Subscriptions</a>
			</td>
			<td>
				<h3>Add Users</h3>
				<img src="/img/icon_users.png" class="img-left"/>
				<p class="help">Users are people within your oranization, department or team that have access to your Usivity account.  </p>
				<a href="template/users_post.htm" id="/api/1/users" class="button popup cp_users">Add Users</a>
			</td>
		</tr>
	</table>
</div>