<h1>My {source_@id} subscriptions</h1>
<div class="subscriptionsform">
	<form action="{source_subscriptions_@href}">	<!-- Replace id with HREF attribute from API -->
		<span class="ititle">add new keyword</span>
		<input type="text" name="email" class="constraints"/>
		
		<div class="buttons">
			<button type="submit" class="add">add subscription</button>
		</div>
	</form>
	<ul>
{foreach
	{in:source_subscriptions_subscription}
		<li>
			<span>{constraints}</span>
			<a href="{@href}" class="delete">delete</a>
		</li>
foreach}
	</ul>
</div> 