body {
	background:#1f1f1f;	
	margin:0 0 40px 0;
}
.frame {
	width:800px;
	margin:0 auto;
	overflow:hidden;
}
/*Head*/
.head {
	padding:10px 0;
}
.logo {
	display:block;
	font-size:0;
	color:#1f1f1f;	
}
.logo h1 {
	display:block;
	width:240px;
	height:80px;
	background:url(../img/logo.gif);
}
/*Content*/
.content {
	overflow:hidden;	
}
.content .main {
	font-size:13px;
	line-height:1.7;
	overflow:hidden;
	background:#fbfbfb;
	min-height:200px;
	padding:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 7px #fff;
	-webkit-box-shadow: 0 0 7px #fff;
	box-shadow: 0 0 7px #fff;
}
/*SPLASH*/
.splash {
	background:#dc8021;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:200px;	;
}

/*ACCOUNT*/
.accounts {
	float:right;
	width:200px;
	padding:10px 10px;
}
.account {
	padding:10px;
	height:140px;
}
.newaccount {
	background:#fff;
}
.existingaccount {
	display:none;
	background:#fff;
}
.accounts .tabs li {
	width:50%;
	margin:0;
	font-size:.9em;
	text-align:center;
	height:20px;
	background:#e7a664;
	line-height:20px;
}
.accounts .tabs li.active {
	background:#fff;
	font-weight:bold;
}
/*Tabs*/
.tabs {
	overflow:hidden;	
}
.tabs li {
	display:block;
	float:left;
	overflow:hidden;
	border-bottom:0px;
	cursor:pointer;
}