body {
	font-family:arial, verdana, helvetica;	
	font-size:1em;
}

/*Links*/
a {
	color:#1F8DD6;
	text-decoration:none;
}
a:hover {
	color:#dc8121;
	text-decoration:underline;
}
/*Paragraphs*/
p {
	line-height:1.5;
	font-size:.8em;
	text-shadow: #fff 1px 1px;
	color:#333;
	margin:0 0 10px 0;
}
p img {
	float:left;
	border:1px solid #ccc;
	margin:0 10px 10px 0;
	-webkit-box-shadow: 2px 2px 2px #999;
}

/*IMAGES*/
.img-center {
	margin:10px auto 20px auto;
	display:block;
	float:none;	
}
.img-left {
	float:left;
	margin:0 20px 0 0;	
}
/*HEADERS*/
h2, h3, h4, h5, h6 {
	color:#000;
	font-family:myriad pro;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	clear:left;
	text-shadow: #fff 2px 2px;
}
h2 {
	font-size:1.1em;
	border-bottom:1px dotted #dcdcdc;
}
h3 {
	padding-top:15px;	
}
/*DELETE*/
.delete {
	display:block;
	width:12px;
	height:12px;
	font-size:0;
	background-image:url(/img/icon_x.png);
}
.delete:hover {
	background-image:url(/img/icon_x_hover.png);
}
/*FORMS*/
.ititle { /*TODO:  GET RID OF THIS, MOVE TO .FTITLE INSTEAD*/
	display:block;
	padding:10px 0 0 0;
	font-size:.7em;
	color:#333;	
	clear:left;
	text-shadow: #fff 1px 1px;
}
.ftitle {
	display:block;
	padding:3px 4px;
	font-size:.7em;
	color:#999;	
	text-shadow: #fff 1px 1px;
	width:182px;
	float:left;
	margin:0 0 10px 0;
}
textarea,
select,
input {/*TODO:  GET RID OF THIS, USE START INSTEAD*/
	padding:3px;
	min-width:150px;
	color:#666;
	border:1px solid #ccc;
	float:left;
	margin:0 10px 5px 0;
	-webkit-box-shadow: 1px 1px 1px #999;
}
input[type=checkbox] {
	min-width:0;
	float:none;	
}
select {
	padding:2px;	
}
textarea {
	padding:0;	
}
input.long {
	min-width:230px;	
}
select.short,
input.short {
	min-width:75px;
	width:75px;	
}
.twrap {
	padding:5px;
	min-width:200px;
	border:1px solid #ccc;	
	overflow:hidden;
	background:#fff;
}
textarea {
	padding:0;
	border:0 !important;
	margin:0;
	min-height:70px;
	width:100%;
	color:#666;
	font-family:arial;
}
.stitle {
	display:block;
	font-size:.9em;
	color:#999;
	border-bottom:1px dotted #ccc;
	border-top:20px solid transparent;
	clear:both;
	margin-bottom:10px;
	padding-right:20px;
	background-image:url(/img/arrow_down.gif);
	background-repeat:no-repeat;
	background-position:right center;
	cursor:pointer;
}
.contracted {
	background-image:url(/img/arrow_left.gif);
}
.section {
	margin-bottom:20px;	
}
.stool {
	float:right;
	display:block;
	font-size:.75em;
	margin:0 0 0 10px;	
}
.start {
	opacity:.5;
	-webkit-box-shadow: none;
}

/*TABLES*/
table {
	width:100%;
	margin-top:10px;
	border-collapse:separate;
}
tr.intoff {
	background:#fbfafa;	
}

th {
	font-size:1em;
	border-bottom:1px solid #ccc;
	padding:5px 5px 0 5px;
	color:#000;
	font-family: 'Myriad Pro','Helvetica';
	text-shadow: #fff 1px 1px;
	vertical-align:top;
	background:url(/img/th_bg.gif) repeat-x center 23px;
}
td {
	border-bottom:1px dotted #ccc;
	padding:5px;
	font-size:.8em;
	vertical-align:top;
}
.center {
	text-align:center;	
}
.center span,
.center a {
	display:block;
	margin:0 auto;	
}
td.even {
	background:#ffffda;	
}
.time_row td {
	font-size:.8em;
	border-bottom:2px dotted #ccc;
	font-family: 'Myriad Pro','Helvetica';
	text-shadow: #fff 1px 1px;
	padding-top:20px;	
}
tbody tr:hover {
	background:#fff;
}
tbody tr.time_row:hover {
	background:none;	
}
/*FILTER TABLE*/
th .filter {
	text-align:center;
	background-image:url(/img/icon_filter.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	display:block;
	height:6px;
	width:16px;
	position:relative;
	margin:6px auto 0 auto;
	top:-6px;
}
th.col_filter:hover {
	cursor:pointer;	
}
th:hover .filter {
	background-image:url(/img/icon_filter_hover.png);	
}
/*BUTTONS*/
.buttons {
	overflow:hidden;
	margin:0;
	clear:left;
	padding:10px 0 0 0;
}
.buttons .button {
	margin:0 10px 0 0;	
}
button,
.button {
	background-image: -webkit-gradient(
	linear, 
	left bottom, 
	left top, 
	color-stop(0.25, rgb(214, 214, 214)), 
	color-stop(0.63, rgb(247, 247, 247))
	);
	background-image: -moz-linear-gradient(
	center bottom, 
	rgb(214, 214, 214) 25%, 
	rgb(247, 247, 247) 63% 
	);
	border: 1px solid #999;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 0 1px 10px 0;
	padding: 2px 7px;
	font-size: 11px;
	text-shadow: #F0F0F0 1px 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: bold;
	text-decoration:none;
}
button:hover,
.button:hover {
	color:#000;	
	text-decoration:none;
}

/*Loading*/
.loading {
	background-image:url(/img/icon_loading.gif);
	background-repeat:no-repeat;
	background-position:center center;	
}