body {
	font-family:arial, verdana, helvetica;	
	font-size:1em;
}

/*Links*/
a:visited,
a {
	color:#179fcc;
}
a:visited:hover,
a:hover {
	color:#dc8121;
}
/*Flow*/
.first {
	margin-top:0;	
}
.last {
	margin-bottom:0;	
}
/*Headers*/
h2, h3, h4, h5, h6 {
	color:#666;
	font-family:myriad pro;
	margin:0;
}
h2 {
	font-size:1em;
}
/*Title*/
.title {
	background:#ccc;
	background-image:url(/img/header_bg.gif);
	background-position:center center;
	margin:0 0 5px 0;
	border-radius:5px;
	padding:5px;	
}
.title h2 {
	color:#fff;	
}
.title a {
	float:right;
	font-size:.75em;
	display:block;
	color:#fff;
	text-decoration:none;
}
/*FORMS*/
form {
		
}
.ititle {
	display:block;
	padding:10px 0 0 0;
	font-size:.7em;
	color:#333;	
	clear:both;
}
input {
	padding:3px;
	min-width:150px;
	border-radius:3px;
	color:#666;
	border:1px solid #ccc;
	float:left;
	margin-right:5px;
}
.twrap {
	padding:3px;
	min-width:200px;
	border-radius:3px;
	border:1px solid #ccc;	
}
textarea {
	padding:0;
	border:0;
	margin:0;
	min-height:100px;
	width:100%;
	color:#666;
}
.stitle {
	display:block;
	font-size:.9em;
	color:#999;
	border-bottom:1px dotted #ccc;
	border-top:20px solid transparent;
	clear:both;
	margin-bottom:10px;
	padding-right:20px;
	background-image:url(/img/arrow_down.gif);
	background-repeat:no-repeat;
	background-position:right center;
	cursor:pointer;
}
.contracted {
	background-image:url(/img/arrow_left.gif);
}
.section {
	margin-bottom:20px;	
}
.stool {
	float:right;
	display:block;
	font-size:.75em;
	margin:0 0 0 10px;	
}
/*TABLES*/
table {
	width:100%;
	margin-top:20px;
}
th {
	font-size:.7em;
	color:#999;
	border-bottom:2px solid #ccc;
	background:#fff;
}
td {
	border-bottom:1px dotted #ccc;
	padding:2px 0;
	font-size:.8em;
}
td.even {
	background:#ffffda;	
}
tr:hover {
	background:#dff5f5;
}
/*BUTTONS*/
.buttons {
	overflow:hidden;
	margin:10px 0 0 0;
	clear:both;
	padding:10px 0 0 0;
}
.buttons .button {
	margin:0 0 0 10px;	
}
.button {
	float:right;
	display:block;
	padding:5px 10px;
	background:#dc8121;
	border:0;
	color:#fff;
	font-size:.7em;
	font-weight:bold;
	text-decoration:none;
	border-radius:5px;
	cursor:pointer;
}
.button:hover {
	background:#ed9a43;	
}