/*Body*/
body {
	background:#f5f5f5;		
}
/*Wrap*/
.wrap {
	padding:0;
	overflow:hidden;
}
.fwrap { 
	padding:5px;
	border-radius:5px;
	margin:5px 5px 10px 5px;
	overflow-x:hidden;
	display:none;
}
/*header*/
.header {
	background:#191919;
	border-bottom:1px dotted #efefef;
	margin:0;
	height:50px;;
}
.logo {
	height:50px;
	width:135px;
	font-size:0;
	color:#1c1c1d;
	background:url('/img/logo.gif');
	background-repeat:no-repeat;
	background-position:center center;
	margin:0 0 0 5px;
}
/*Highlight*/
.highlight {
	margin:0 0 5px 0;
	border-radius:5px;
	padding:5px;	
	overflow:hidden;
}
/*Controls & menu*/
.controls {
	float:right;
}
.menu {
	float:right;
	color:#fff;
	height:50px;	
	line-height:50px;
}
.menu ul {
	overflow:hidden;	
}
.menu li {
	float:right;
	display:block;
	margin:0 30px 0 0;
}
.menu a {
	display:block;
	font-size:.9em;
	text-decoration:none;
	color:#fff;
}
.menu a:hover {
	background-image:url(/img/nav_hover.png);
	background-position:center top;
	background-repeat:no-repeat;
	color:#1F8DD6;	
}
/*Search*/
.search {
	margin:13px 5px 0 0;	
}
.search input {
	border:0;
	padding:3px;
	width:250px;
	text-shadow: #fff 1px 1px;
	border-radius:3px;
}
.search_highlight {
	background:#fff000;	
}
/*Columns*/
.col {
	float:left;
	margin:0;
	padding:5px 0 0 0;
	display:block;
	background-image:url(/img/col_bg_gradient.gif);
	background-repeat:repeat-y;
	background-position:right center;
}
.col1 {
	width:80%;	
}
.col2 {
	width:40%;	
}
.col3 {
	width:20%;	
}
/*Streams*/
.openstream .target {
	display:none;
}
/*Contacts*/
.contacts .target {
	display:none;
}
.contact {
	overflow:hidden;
}
/*Messages*/
.message_contents {
	padding:0 0 0 10px;
	margin:0 0 0 50px;
}
.message_text {
	margin:0 0 5px 0;
}
th .filter {
	text-align:center;
	background-image:url(/img/icon_filter.png);
	background-repeat:no-repeat;
	background-position:center bottom;
	display:block;
	height:6px;
	width:16px;
	position:relative;
	margin:6px auto 0 auto;
	top:-6px;
}
th.col_filter:hover {
	cursor:pointer;	
}
th:hover .filter {
	background-image:url(/img/icon_filter_hover.png);	
}

/*Message Thread*/
.message_threads {
	margin-bottom:180px;	
}
.message_thread {
	display:block;
	overflow:hidden;
	margin:0 0 30px 0;	
}
.message_thread .contact_name {
	font-weight:bold;	
	text-shadow: #fff 1px 1px;
	font-size:.8em;
}
.message_thread .message_meta {
	font-size:.7em;
	color:#999;	
	overflow:hidden;
}
.message_thread .message_meta span {
	display:block;
	float:left;
	margin:0 20px 0 0;
}
.message_thread .message_details {
	float:left;
	width:430px;
}
.message_thread .message_text {
	font-size:.8em;	
}
/*Message Send*/
.message_send {
	position:absolute;
	margin-top:370px;
	width:495px;
	background-image:url(/img/gradient_white_bg.png);
	padding-top:10px;
	height:160px;
}
/*Contact*/
.contact_picture {
	cursor:pointer;
}
.contact_picture span {
	display:block;
	height:26px;
	width:26px;
	overflow:hidden;
	border: 2px solid #fff;
	background-image:url(/img/usivity_logo_26.gif);
	box-shadow: 2px 2px 2px #ccc;
}
.contact_picture img {
	width:26px;
}
.contact_picture_large {
	overflow:hidden;
	border:1px solid #ccc;
	border-left:2px solid #ccc;
	width:50px;
	height:50px;
	display:block;
	float:left;
	margin:0 10px 0 0;
	background-image:url(/img/usivity_logo_50.gif);
}
.contact_picture_large img{
	width:50px;
	border:0;
}
.contact_actions a {
	float:right;
	display:block;
	margin:0 0 0 10px;
}
.contact_numbers {
	float:right;
	width:85px;	
}
.contact_post {
	padding-bottom:200px;	
}
.contact_post .buttons {
	position:absolute;
	margin-top:485px;
	width:240px;
	background-image:url(/img/gradient_white_bg.png);
	background-position:center top;
	padding-top:30px;
	height:25px;
	z-index:5;
}
/*Response - Error, Success*/
.response {
	display:none;
	padding:5px;
	margin:5px 0 10px 0;
	font-size:.7em;	
	border-radius:3px;
	background-color:#ffffcc;
	border:2px solid #ffff99;
}
.error {
	background-color:#ffcccc;
	border:2px solid #ff9999;
}
.success {
	background-color:#ccffcc;
	border:2px solid #66cc66;
}
/*MESSAGES - Sources Column*/
.source_badge {
	display:block;
	height:16px;
	width:16px;	
	font-size:0;
	margin:0 auto;
}
.source_twitter {
	background-image:url(/img/icon_twitter.png);
}
.source_facebook {
	background-image:url(/img/icon_facebook.png);
}
.source_linkedin {
	background-image:url(/img/icon_linkedin.png);
}
.source_email {
	background-image:url(/img/icon_email.png);
}
.source_blog {
	background-image:url(/img/icon_blog.png);
}
.source_klout {
	display:block;
	height:15px;
	width:18px;
	background-image:url(/img/icon_klout.png);
	font:11px/11px 'DINMedium',Arial,sans-serif;
	color:#fff;
	text-align:center;
	margin:0 auto;
}
/*Tools Menu - Search, Control Panel, etcc*/
.tools {
	float:right;
	font-size:.7em;	
	display:block;
	line-height:.7em;
	padding:10px 0 0 10px;
}
/*Messages - Sentiment Column*/
.sentiment_badge {
	display:block;
	height:16px;
	width:16px;
	font-size:0;
	margin:0 auto;
}
.sentiment_positive {
	background-image:url(/img/icon_sentiment_positive.png);	
}
.sentiment_neutral {
	background-image:url(/img/icon_sentiment_neutral.png);	
}
.sentiment_negative {
	background-image:url(/img/icon_sentiment_negative.png);	
}
/*Messages - Filter Dropdown*/
.filter_dropdown {
	background:#fff;
	position:absolute;
	padding:5px;
	display:none;
	box-shadow: 3px 3px 3px #666;
	border:1px solid #999;
	border-top:2px solid #999;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* IE10+ */
	background: linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* W3C */
	font-family:arial,verdana,helvetica;
	z-index:5;
	min-width:150px;
	margin:-13px 0 0 0;
}
.filter_dropdown li {
	font-size:.8em;
	padding:5px 0;
}
.filter_dropdown li span {
	background-repeat:no-repeat;
	padding:0 0 0 22px;
	display:block;
}
.filter_dropdown li a {
	color:#999;	
}
.filter_dropdown li a:hover {
	color:#1F8DD6;	
}
.filter_dropdown .source_klout {
	float:left;
	padding:0;
	text-shadow: none;
	line-height:auto;
	line-height:11px;
	font-size:11px;
	margin:0 5px 0 0;
}

/* MODAL - Contact Details */

.modal .contact_socialnetwork {
	background-repeat:no-repeat;
	background-position:3px 3px;
	padding-left:22px;
	min-width:211px;
}
.modal .contact_linkedin {
	background-image:url(/img/icon_linkedin.png);	
}
.modal .contact_facebook {
	background-image:url(/img/icon_facebook.png);	
}
.modal .contact_twitter {
	background-image:url(/img/icon_twitter.png);	
}
.modal .contact_google {
	background-image:url(/img/icon_google.png);	
}

/* EMPTY */  /*TODO:  GET RID OF .EMPTY, RENAME WITH .NOTICE*/
.notice, 
.empty {
	padding:20px 40px;
	display:block;
	color:#666;
	text-shadow: #fff 1px 1px;
	background:url(/img/icon_alert.png) no-repeat left center;
	line-height:1.3;
}

/* CONTROL PANEL */
.control_panel a {
	background-position:top center;
	background-repeat:no-repeat;
	padding:60px 0 0 0;
	display:block;
	text-align:center;	
	float:left;
	width:25%;
	height:30px;	
}
.control_panel .cp_subscriptions {
	background-image:url(/img/icon_subscriptions.png);
}
.control_panel .cp_users {
	background-image:url(/img/icon_users.png);
}
.control_panel .cp_sources {
	background-image:url(/img/icon_sources.png);
}
.control_panel .cp_billing {
	background-image:url(/img/icon_billing.png);
}

/* CONTROL PANEL - SOURCES*/
.sources a {
	background-position:top center;
	background-repeat:no-repeat;
	padding:60px 0 0 0;
	display:block;
	text-align:center;	
	float:left;
	width:25%;
	height:30px;
}
.sources .sources_twitter {
	background-image:url(/img/icon_twitter_large.png);
}
/* HELP */
.help {
	padding:10px 0 20px 0;
	display:block;
	color:#666;
	font-size:.9em;
	text-shadow: #fff 1px 1px;
}