body {
	background:#191919;	
}
.wrap {
	width:400px;
	position:absolute;
	display:none;
}
.fwrap {
	background:#fff;
	padding:5px;
	border-radius:5px;
	margin:5px 0 10px 0;
	overflow-x:hidden;
}
.usivity {
	background:none;	
	background-image:url(/img/logo_350.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:110px;
}
.powered {
	text-align:center;
	font-size:.7em;
	color:#999;	
}