/*Modal*/
.modal_bg {
	width:100%;
	background:#333;
	opacity:.5;
	position:absolute;
	top:0;
	display:none;
}
.modal {
	width:800px;
	background:#fff;
	max-height:580px;
	position:absolute;
	padding:5px;
	display:none;
	box-shadow: 3px 3px 3px #666;
	border:1px solid #333;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #ffffff 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* IE10+ */
	background: linear-gradient(top, #f4f4f4 0%,#ffffff 50%); /* W3C */
}
.modal .target {
	overflow-x:hidden;
	overflow-y:auto;
	max-height:540px;	
}
/* DIALOG TITLE*/
.modal .title {
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	padding:3px;
	margin-bottom:3px;
	border:1px solid #ccc;
}
.modal .title h2 {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	color: #000;
	font-family: 'Myriad Pro','Helvetica';
	text-shadow: #fff 1px 1px;
}
/* DIALOG PANEL*/
.modal .panel {
	width:250px;
	float:left;
	overflow:hidden;
}
.modal .panel_main {
	float:left;	
	width:495px;
	padding:0 0 0 20px;
	border-left:1px dotted #ccc;
	overflow:hidden;
}
/* DIALOG MODAL - USED FOR YES/NO FUNCTIONS*/
.modalsmall {
	width:350px;
	max-height:200px;	
}
.modalsmall .prompt {
	display:block;
	color:#999;
	padding:5px 0 20px 0;
	font-size:.9em;
}
/* LARGE MODAL - USED FOR EXTERNAL URL'S*/
.modallarge {
	width:900px;
	max-height:none;
}
.modallarge iframe {
	border:0;
	padding:0;
	width:900px;
	height:500px;
}
/* MODAL FUNCTIONS*/
.modal .close {
	float:right;
	font-size:0;
	display:block;
	width:30px;
	height:30px;
	background-image:url(/img/modal_close.png);	
	margin:-15px -15px 0 0;
}
.modal .close:hover {
		
}
